<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data</title>
</head>
<body>
<h1>Iris Data</h1>
<h3>Train data</h3>
<ul id="training-data">
    {% for x in X_train %}
        <li data-0="{{ x[0] }}"
            data-1="{{ x[1] }}"
            data-2="{{ x[2] }}"
            data-3="{{ x[3] }}"
            data-y="{{ y_train[loop.index0] }}"
        >
            train point {{ loop.index }}
        </li>
    {% endfor %}
</ul>
<h3>Test Data</h3>
<ul id="testing-data">
    {% for x in X_test %}
        <li data-0="{{ x[0] }}"
            data-1="{{ x[1] }}"
            data-2="{{ x[2] }}"
            data-3="{{ x[3] }}"
        >
        test point {{ loop.index }}
        </li>
    {% endfor %}
</ul>
</body>
</html>